<!DOCTYPE html>
<html>
<head>
  <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>
<body>
  {% include links.html %}
  <div id="wrapper" class="typo typo-section textwrap">
    <div id="article-content">
      <header id="header" class="">
        <h1 class="title">{% if page.formatted_title %} {{ page.formatted_title }} {% else %} {{ page.title }} {% endif %}</h1>
        {% if page.subtitle %}
          <div class="subtitle">{{ page.subtitle }}</div>
        {% endif %}
      </header>
      <section class="post">
        {{ content }}
        <br>
      </section>
      {% if page.disqus %}
        {% include disqus.html %}
      {% endif %}
    </div> <!-- content -->
    <nav class="section-nav">
      {% include toc.html html=content class="nav-sticky" %}
    </nav>
  </div> <!-- wrapper -->
  {% include footer.html %}
  </body>
</html>
